*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.main_sec{
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.7)url('../images/9.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.firstUL{
    width: 35%;
    /* height: 12vh; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.firstUL li{
    list-style-type: none;
}


.firstUL li a img{
    height: 180px;
    width: 200px;
    padding: 2px 0px;
}

.secondUL{
    height: 10vh;
    width: 60%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.secondUL li{
    list-style: none;
}

.secondUL li a{
    text-transform: capitalize;
    text-decoration: none;
    /* font-size: 18px; */
    color:  white;
}

#single_visited{
    color: #DD0038;
}

.secondUL li a:hover{
    color: #DD0038;
    transition: .5s;
}


.secondUL a button{
    color: white;
    background-color: #DD0038;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
}


.secondUL button:hover{
    background-color: #a31438;
    cursor: pointer;
    transition: .7s;
}


.section1{
    /* background-color: white; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.section1 h1{
    padding: 2% 0%;
    color: white;
    font-size: 65px;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-weight: bold;
}

.section1 h2{
    font-size: 30px;
    word-spacing: 2px;
    color: white;
}



.section1 a button{
    color: white;
    background-color: #DD0038;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    /* border-bottom: 2px solid black; */
}


.section1 a button:hover{
    background-color: #a31438;
    cursor: pointer;
    transition: .7s;
}


.cards{
    width: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:20px;
}



#card1 img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
}


#card1 h3{
    text-align: center;
    padding: 15px 0px;
}


#card1 p{
    text-align: justify;
    padding: 2px 74px 10px 74px;
}

/* #card2{
    background-color: green;
} */


#card1 button{
    color: white;
    background-color: #5377BD;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    display: block;
    margin: 12px auto;
    
}

#card1 button:hover{
    background-color: #405C9F;
    cursor: pointer;
    transition: .7s;
}

#card1 a{
    text-decoration: none;
}


#card2 img{
    /* width: 100%; */
    display: block;
    margin: 0 auto;
    /* padding: 0px 70px; */
    object-fit: cover;
}

#card2 h3{
    text-align: center;
    padding: 15px 0px;
}


#card2 p{
    text-align: justify;
    padding: 2px 74px 10px 74px;
}


#card2 button{
    color: white;
    background-color: #5377BD;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    display: block;
    margin: 12px auto;
    
}

#card2 button:hover{
    background-color: #405C9F;
    cursor: pointer;
    transition: .7s;
}


#card2 a{
    text-decoration: none;
}


#card3 img{
    /* width: 100%; */
    display: block;
    margin: 0 auto;
    /* padding: 0px 70px; */
    object-fit: cover;  
}

#card3 h3{
    text-align: center;
    padding: 15px 0px;
}


#card3 p{
    text-align: justify;
    padding: 2px 74px 10px 74px;
}


#card3 button{
    color: white;
    background-color: #5377BD;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    display: block;
    margin: 12px auto;
    
}

#card3 button:hover{
    background-color: #405C9F;
    cursor: pointer;
    transition: .7s;
}


#card3 a{
    text-decoration: none;
}

.latest h1{
    text-align: center;
    padding: 50px;
}

.homeImage{
    height: 70vh;
    width: 100vw;
    background-color: red;
    background: rgba(0,0,0,.7)url('../images/11.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.homeImage h1{
    color: white;
}

.homeImage h2{
    color: white;
    border-top: 5px solid #DD0038;
    padding-top: 10px;
}

.homeImage p{
    color: white;
    padding: 20px 0px;
    width: 60%;
    text-align: justify;
    /* text-decoration: underline; */
}


.packages{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.institutepackage{
    background-color: whitesmoke;
    /* height: 60vh; */
    padding: 2% 1%;
    /* width: 20vw; */
    /* height: 62vh; */
    box-shadow: .5px .5px 6px black inset;
}


.institutepackage h3{
    color: #DD0038;
    padding: 6px;
}


.institutepackage h1{
    padding: 10px 20px;
}



.institutepackage ul li{
    padding: 10px 20px;
}



.institutepackage a button{
    color: white;
    background-color: #DD0038;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0px;
    margin-top: 6%;
    margin-left: 5%;
}


.institutepackage a :hover{
    background-color: #a31438;
    cursor: pointer;
    transition: .7s;
}


footer{
    margin-top: 2%;
}

footer .first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

footer .first .info h2{
    color: white;
    padding: 20px 0px;
}


footer .first .info h4{
    color: #DD0038;
    padding: 8px 0px;
}


footer .first .links h2{
    color: white;
    padding: 7% 0px;
}


footer .first .links ul li{
    padding: 10px 0px 5px 5px;
    /* text-decoration: none; */
}

footer .first .links ul li a{
    color: #DD0038;
    font-weight: bold;
    text-decoration: none;
}


footer .first .links ul li a:hover{
    color: white;
    cursor: pointer;
}


footer .first .services h2{
    color: white;
    padding: 7% 0px;
}



footer .first .services h4{
    color: #DD0038;
    padding: 10px 0px 5px 5px;
    /* text-decoration: none; */
}



footer .first .logo img{
    height: 300px;
    width: 330px;
}


.second{
    border-top: 2px solid #221A2F;
    background-color: black;
    color: white;
    text-align: center;
}

.second h3{
    padding: 2% 0px;
}

.second h3 span{
    color: #DD0038;
    
}


@media only screen and (max-width: 380px){
        
    .main_sec{
        height: 115vh;
        background: rgba(0, 0, 0, .7)url('../images/9.jpg');
        background-blend-mode: darken;
        background-size: cover;
    }

    nav{
        background-color: black;
        height: 55vh;
        display: block;
        margin: 0 auto;
    }

    .firstUL{
        width: 100%; 
    }

    .secondUL{
        height: 20vh;
        font-size: 20px;
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section1{
        height: 60vh;
    }

    .section1 h1{
        padding: 10% 2%;
        text-align: center;
        font-size: 35px;
    }

    .section1 h2{
        text-align: center;
        font-size: 30px;
        padding: 0px 2%;
    }



    .section1 a button{
        font-size: 17px;
    }


    .institutepackage{
        width: 88%;
        margin: 21px;
        padding: 5% 1%;
    }
    

}



@media only screen and (min-width: 380px) and (max-width: 540px){
    .main_sec{
        height: 120vh;
        background: rgba(0, 0, 0, .7)url('../images/9.jpg');
        background-blend-mode: darken;
        background-size: cover;
    }

    nav{
        background-color: black;
        height: 55vh;
        display: block;
        margin: 0 auto;
    }

    .firstUL{
        width: 100%;
    }

    .secondUL{
        height: 20vh;
        font-size: 20px;
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section1{
        height: 65vh;
    }

    .section1 h1{
        padding: 10% 2%;
        text-align: center;
        font-size: 35px;
    }

    .section1 h2{
        text-align: center;
        font-size: 30px;
    }



    .section1 a button{
        font-size: 17px;
    }

    .institutepackage{
        width: 73%;
        margin: 21px;
        padding: 5% 1%;
    }

}




@media only screen and (min-width: 540px) and (max-width: 786px){
    .main_sec{
        height: 120vh;
        background: rgba(0, 0, 0, .7)url('../images/9.jpg');
        background-blend-mode: darken;
        background-size: cover;
    }

    nav{
        background-color: black;
        height: 55vh;
        display: block;
        margin: 0 auto;
    }

    .firstUL{
        width: 100%;
    }

    .secondUL{
        height: 20vh;
        font-size: 20px;
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section1{
        height: 65vh;
    }

    .section1 h1{
        padding: 6% 2%;
        text-align: center;
        font-size: 43px;
    }

    .section1 h2{
        text-align: center;
        font-size: 30px;
    }



    .section1 a button{
        font-size: 17px;
    }

    .institutepackage{
        width: 60%;
        margin: 21px;
        padding: 5% 1%;
    }

}




@media only screen and (min-width: 786px) and (max-width: 990px){
    
    .section1 h1{
        padding: 3% 2%;
        text-align: center;
        font-size: 43px;
    }

    .section1 h2{
        text-align: center;
        font-size: 30px;
    }



    .section1 a button{
        font-size: 17px;
    }

    .secondUL a button{
        padding: 8px 25px;
    }

    .institutepackage{
        margin: 21px;
        /* padding: 5% 1%; */;
        margin-bottom: 20px;
    }

}


@media only screen and (min-width: 990px) and (max-width: 1100px){
    .section1 h1{
        font-size: 50px;
    }
}